
.menu img{
    width: 80px;
    border-radius: 50px;
}
.menu{
    margin-left: 20px;
}
.menu > li >img{
    width: 25px;
}
.nav{
    background-color: #262626;
    width: 200px;
    height: 100vh;
    border-top-right-radius: 40px;
}
a{
    color: white;
}
a:hover{
    color: #38b6ff;
}

li{
    margin-top: 30px;
}
header{
    position: absolute;
}

section{
    position: relative;
    display: flex;
    justify-content: center;  
    overflow-x:hidden;
    float: right;
    
}
#section{
    width: 860px;
    height: 100vh;
}
.card{
    margin-top: 30px;
    display: inline-block;
    align-items: center;
    justify-content: center;
}
.section{
    display: block;
    width: 650px;  
}